In [22]:
import pandas as pd
name = "train"
df_inf = pd.read_csv(f"./data/{name}WithElectra.tsv", sep='\t')
print(len(df_inf))
df_inf.head()

15641

                                         text   none  curse
0                     낯짝도 두껍다 ㄷㄷㄷ 티비에 버젓이 나오네  0.893  0.107
1                         20대에는 고환에서 적당히해 하면서  0.957  0.043
2  배성재 저놈이 저러니깐 더 이상하다논란되는 애들 존나 칼같이 컷하네 ㅋㅋㅋㅋ  0.038  0.962
3                   눈수술검사할때 이거 띄우고 노캠방 하면 되겠다  0.956  0.044
4                        마닷 진짜 부럽네 역시 영앤리치인가ㅠ  0.958  0.042

In [23]:
labeled = (df_inf["none"] < df_inf["curse"]).astype(int)
df_inf['label'] = labeled
df_inf.head()

                                         text   none  curse  label
0                     낯짝도 두껍다 ㄷㄷㄷ 티비에 버젓이 나오네  0.893  0.107      0
1                         20대에는 고환에서 적당히해 하면서  0.957  0.043      0
2  배성재 저놈이 저러니깐 더 이상하다논란되는 애들 존나 칼같이 컷하네 ㅋㅋㅋㅋ  0.038  0.962      1
3                   눈수술검사할때 이거 띄우고 노캠방 하면 되겠다  0.956  0.044      0
4                        마닷 진짜 부럽네 역시 영앤리치인가ㅠ  0.958  0.042      0

In [24]:
df_trn = pd.read_csv(f"./data/{name}.tsv", sep='\t')
# df_trn['label'] = df_trn['label'].astype(int)
# df_trn = df_trn[['text', 'none', 'curse', 'label']]
print(len(df_trn))
df_trn.head()

15641

                                         text  label
0                     낯짝도 두껍다 ㄷㄷㄷ 티비에 버젓이 나오네      1
1                         20대에는 고환에서 적당히해 하면서      0
2  배성재 저놈이 저러니깐 더 이상하다논란되는 애들 존나 칼같이 컷하네 ㅋㅋㅋㅋ      1
3                   눈수술검사할때 이거 띄우고 노캠방 하면 되겠다      0
4                        마닷 진짜 부럽네 역시 영앤리치인가ㅠ      0

In [25]:
df_trn[df_inf['label'] != df_trn['label']]

                          text  label
0      낯짝도 두껍다 ㄷㄷㄷ 티비에 버젓이 나오네      1
6         라이언 대박 멋지고 웃기고 다함ㅠㅠㅠ      0
9         대구 시장 권영진 하는 꼬라지 보니깐      1
17        그러니깐 딜도로 쑤셔박아야한다는거지?      1
45                    쇼타꼬추조아?ㄷ      1
...                        ...    ...
15445    못생긴 니가 이해해라 울지말고 얘기하고      1
15464               미친사람들 ㅋㅋㅋㅋ      0
15466          오벨이라 안부른데 ㅅㅂㅋㅋㅋ      1
15477           다나는 뚱땡이래도 이쁘다나      1
15529                 약했나 쪼개기는      1

[430 rows x 2 columns]

In [26]:
# df_trn[df_inf['label'] != df_trn['label']][['text', 'label']].to_csv("check_again.tsv", sep='\t', index=False)
# df_trn[df_inf['label'] == df_trn['label']][['text', 'label']].to_csv("same_label.tsv", sep='\t', index=False)

In [27]:
idx1 = df_inf[df_inf['curse'] < 0.9].index
idx2 = df_inf[df_inf['none'] < 0.9].index
idx3 = df_trn[df_inf['label'] != df_trn['label']].index
len(df_trn.iloc[idx1 & idx2 | idx3][['text', 'label']])

853

In [28]:
df_trn.iloc[idx1 & idx2 | idx3][['text', 'label']].to_csv("check_again.tsv", sep='\t', index=False)
df_trn.drop(index=(idx1 & idx2 | idx3))[['text', 'label']].to_csv("same_label.tsv", sep='\t', index=False)

In [29]:
df_ca = pd.read_csv("check_again.tsv", sep='\t')
df_sl = pd.read_csv("same_label.tsv", sep='\t')
# df_train = pd.read_csv("./data/train.tsv", sep='\t')
# df_trn_again = pd.concat([df_ca, df_sl, df_train], ignore_index=True)
df_trn_again = pd.concat([df_ca, df_sl], ignore_index=True)
print(len(df_trn_again))
df_trn_again.head()

15679

                      text  label
0  낯짝도 두껍다 ㄷㄷㄷ 티비에 버젓이 나오네      1
1     라이언 대박 멋지고 웃기고 다함ㅠㅠㅠ      0
2     대구 시장 권영진 하는 꼬라지 보니깐      1
3     그러니깐 딜도로 쑤셔박아야한다는거지?      1
4   딜도로 끝까지 박아넣으면 물이 줄줄 나옴      1

In [30]:
text_set = set()
drop_index = []
for i in range(len(df_trn_again)):
    if df_trn_again.iloc[i, 0] in text_set:
        print(df_trn_again.iloc[i, 0])
        drop_index.append(i)
    else:
        text_set.add(df_trn_again.iloc[i, 0])

ㅁㅈㅎ
ㅆㅅㅌㅊ

In [31]:
import numpy as np
import random

x = np.random.permutation(len(df_trn_again.drop(index=drop_index).reset_index(drop=True)))
df_trn_again_ = df_trn_again.drop(index=drop_index).reset_index(drop=True).iloc[x].reset_index(drop=True)
print(len(df_trn_again_))
df_trn_again_

15677

                                                    text  label
0                                                      ㄷ      0
1                                         정의구현 뵨사마 존경합니다      0
2                                                   땅꼬마들      0
3                                           숙녀는 너무했네ㅜㅋㅋㅋ      0
4                                              역시 총이 강하군      0
...                                                  ...    ...
15672                           식상하다 돈벌어봐야 또 집장사나하겠지..ㅉㅉ      0
15673                                            이마가 공이네      0
15674  동성애 똥꼬충들한테 동성애는 되는데 근친은 왜 안되냐 하면 온갖 현학적인 용어 들어...      1
15675                             그만해라 죽은고인인데 가족들까지 괴롭히냐      0
15676                                          결혼식해야쥐왜안해      0

[15677 rows x 2 columns]

In [32]:
df_trn_again_.to_csv("./data/train.tsv", sep='\t', index=False)

In [5]:
from tqdm import trange
import re
from pprint import pprint

In [7]:
sum = 0
for t in df['text']:
    sum += len(t)
sum/len(df)

11.970855

In [8]:
df.head()

                       text   none  curse
0                이건 실사 아닐까?  0.942  0.058
1                     끄겠는데?  0.989  0.011
2                   머머리?...  0.975  0.025
3  일주일에 1회씩... 너무 기다리기 힘들었다  0.655  0.345
4             코끼리코게임 위험합니다.  0.995  0.005

In [22]:
df_curse = df[df["curse"] > df["none"]]
print(len(df_curse))
df_curse['label'] = [1 for _ in range(len(df_curse))]
df_curse.to_csv("pseudo.tsv", index=False, sep='\t')
df_curse.head(10)

33808

/opt/conda/envs/lightweight/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                                 text   none  curse  label
6   xkwhdVkf1 xkwhdApfhd xkwhdVkf2 xkwhdVkf1 xkwhd...  0.348  0.652      1
13                                       형 몸이 안 남아나겠다  0.056  0.944      1
20                                     그래픽이 더 좋아진거 같냐  0.052  0.948      1
21                                뭐여.. 결국은 아.씨.발.꿈이여?  0.040  0.960      1
30                                    미안해로희야아빠닮아서어떻게ㅠ  0.010  0.990      1
35                                   기승전 물고빨고 키스질 개극혐  0.025  0.975      1
37                                           남캠방송 ㅋㅋㅋ  0.458  0.542      1
39                                       이긴줄 알았네 ㅋㅋㅋㅋ  0.160  0.840      1
46                                            UI가 궁금해  0.053  0.947      1
63                              아니 신경쓰이면 지가 껏겟지 도네 ㅋㅋ  0.003  0.997      1

In [12]:
df[df["curse"] < df["none"]].head(10)

                        text   none  curse
0                 이건 실사 아닐까?  0.942  0.058
1                      끄겠는데?  0.989  0.011
2                    머머리?...  0.975  0.025
3   일주일에 1회씩... 너무 기다리기 힘들었다  0.655  0.345
4              코끼리코게임 위험합니다.  0.995  0.005
5           요즘은 시간 가는줄 알고 본다  0.995  0.005
7               뭔가엄청 바르게큰거같다  0.987  0.013
8                         애요  0.988  0.012
9                    진정해 알렉스  0.987  0.013
10                  아이는없었나요?  0.985  0.015

In [13]:
id1 = df[df["none"] < 0.5].index

In [14]:
id2 = df[df["curse"] > 0.95].index

In [ ]:
num = 0
for i in id1 & id2:
    if len(str(df.iloc[i]["text"])) < 30:
        num += 1
        print(i, df.iloc[i]["text"])
print("\nnum =", num)

In [ ]:
df['label'] = (df.none < df.curse).astype(int)
np.sum(df["label"])

In [ ]:
df.head(20)

In [ ]:
curse = pd.read_csv("curse.csv", index_col=0)
curse.head()

In [ ]:
df = pd.concat([curse, df.iloc[:50_000][['text', 'label']]], axis=0, ignore_index=True)

In [ ]:
df[["text", "label"]].to_csv("validation.tsv", index=False, sep='\t')